.links {
    display: flex;
    align-items: center;
}
.links > a {
    margin-right: 1.5em;
    font-size: 1em;
    border-bottom: 2px transparent solid;
}
.links > a:hover {
    border-bottom: 2px #fff solid;
}

/* Responsive phone */
@media only screen and (max-width: 900px) {
    .links {
        display: none;
    }   
}