.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0 1.5em;
}
.col > h4 {
    font-size: 1.5em;
}
.icon {
    font-size: 4em;
}
.list {
    list-style: none;
}
.list > li {
    margin: 1em 0 0 0;
}