.col {
    text-align: center;
    border: .1em #23272a solid;
    transition: border 1000ms;
}
.col:hover {
    border: .1em #f6f6f6 solid;
    transition: border 1000ms;
    cursor: pointer;
}
.col h4 {
    margin: 1em 0;
}
.col > img {
    display: block;
    margin: auto;
    border: .1em #23272a solid;
}
@media only screen and (max-width: 900px) {
    .col > img {
        width: 64px;
    }
}