.nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr auto;
    align-items: center;
    padding: .5em 0;
    background-color: #121212;
    border-bottom: 3px #23272a solid;
}
.nav img {
    margin: 0 2em;
}
/* Responsive phone */
@media only screen and (max-width: 900px) {
    .nav {
        display: none;
    }
}